.body--project--modal-open .project__modal{
    opacity: 1;
    visibility: visible;
}

.project__modal{
    z-index: 11;
}

.project__modal--inner {
    position: relative;
}

.swiper-wrapper{
    position: relative;
}


.modal__window--project {
    

    display: block;
    height: 600px;

    padding: 30px 100px 40px;

    border: 7px solid #ffffff;

    background: #221b16e6;

}



.modal__window--project--wrapper{
    max-width: 1220px;

    display: flex;
    align-items: center;
    flex-grow: 1;
    position: relative;

}

.project__modal--svipe-min, .project__modal--svipe--right-min{
    visibility: hidden;
}

.project__modal--svipe {
    position: absolute;
    left: 30px;
    top: 300px;
    cursor: pointer;
    z-index: 2;
}

.project__modal--svipe--right {
    position: absolute;
    transform: rotate(180deg);
    right: 30px;
    top: 300px;
    cursor: pointer;
    z-index: 2;
}

.project__modal--titel {
    font-family: "Merriweather";
    font-size: 18px;
    display: flex;
    align-items: end;
}

.project__modal--decor{
    width: 100%;
    display: flex;
    justify-content: end;
    border-bottom: 1px solid #ffdf9e;
}

.project__modal--main {

    padding-top: 30px;
    display: flex;
    gap: 50px;
}

.project__modal--discr {
    min-width: 360px;
    padding-top: 30px;

}
.project__modal--list {
    font-weight: 300;
    font-size: 14px;
}
.project__modal--list--item{
    position: relative;
    margin-bottom: 20px;
}
.project__modal--list--item div{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #ff7e35;

    position: absolute;
    top: 5px;
    left: -15px;
}
.project__modal--price {
    padding-top: 30px;
    font-weight: 400;
}



.project__modal--main{
    height: 500px;
}

.project__modal--galery{
    width: 100%;
}

.project__modal--img-petergof{
    max-height: 300px;
    width: 100%;
    height: 100%;
    background: url("../img/content/Modal/petergof.jpeg") center/ cover no-repeat;
}

.project__modal--img-pravdenskoe{
    max-height: 300px;
    width: 100%;
    height: 100%;
    background: url("../img/content/Modal/Pravdinskoe.jpeg") center/ cover no-repeat;
}

.project__modal--img-repino{
    max-height: 300px;
    width: 100%;
    height: 100%;
    background: url("../img/content/Modal/Repino.jpeg") center/ cover no-repeat;
}

.project__modal--swiper .project__modal--img{
    display: none;
}



.project__modal--swiper--wrapper{
    z-index: 1;
    height: 140px;
}

.project__modal--swiper{
    padding-top: 20px;
}

.modal__swiper{
    max-width: 620px;
}

.modal__swiper--item{
    width: 180px;
    width: 100%;
    height: 140px;
}

.project__modal--galery{
    position: relative;
    z-index: 5;
}

.project__modal--swiper--svipe{
    position: absolute;
    bottom: 75px;
    left: -20px;
}

.project__modal--swiper--svipe-right{
    rotate: 180deg;
    position: absolute;
    bottom: 75px;
    right: -20px;
}

.modal__swiper--repino .modal__swiper--item1{
    background: url("../img/content/Modal/Repino/1.jpg") center/ cover no-repeat;
}

.modal__swiper--repino .modal__swiper--item2{
    background: url("../img/content/Modal/Repino/2.jpg") center/ cover no-repeat;
}

.modal__swiper--repino .modal__swiper--item3{
    background: url("../img/content/Modal/Repino/3.jpg") center/ cover no-repeat;
}



.modal__swiper--petergof .modal__swiper--item1{
    background: url("../img/content/Modal/petergof/1.jpg") center/ cover no-repeat;
}

.modal__swiper--petergof .modal__swiper--item2{
    background: url("../img/content/Modal/petergof/2.jpg") center/ cover no-repeat;
}

.modal__swiper--petergof .modal__swiper--item3{
    background: url("../img/content/Modal/petergof/3.jpg") center/ cover no-repeat;
}


.modal__swiper--pravdenskoe .modal__swiper--item1{
    background: url("../img/content/Modal/Pravdinskoe/1.jpg") center/ cover no-repeat;
}

.modal__swiper--pravdenskoe .modal__swiper--item2{
    background: url("../img/content/Modal/Pravdinskoe/2.jpg") center/ cover no-repeat;
}

.modal__swiper--pravdenskoe .modal__swiper--item3{
    background: url("../img/content/Modal/Pravdinskoe/3.jpg") center/ cover no-repeat;
}


@media(max-width: 1250px){
    .project__modal--galery{
        max-width: 500px;
    }

    .project__modal--discr{
        min-width: 300px;
    }
}

@media(max-width: 1040px){

    .project__modal--svipe{
        top: 500px;
    }

    .project__modal--svipe--right{
        top: 500px;
    }


    .project__modal--swiper--svipe {
        bottom: 125px;
    }
    
    .project__modal--swiper--svipe-right {
        bottom: 125px;
    }

    .project__modal--titel{
        flex-direction: column-reverse;
        align-items: center;
        gap: 5px;
    }

    .project__modal--decor{
        justify-content: center;
    }

    .project__modal--main{
        height: 100%;

        padding-top: 10px;

        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .project__modal--img{
        display: none;
    }

    .project__modal--galery{
        max-width: 450px;
    }

    .project__modal--swiper--wrapper{
        min-height: 300px;
    }

    .project__modal--discr{
        padding-top: 20px;

        width: 200px;
    }

    .project__modal--list--item{
        font-size: 12px;
    }

    .project__modal--price{
        padding-top: 5px;
    }

    .project__modal--swiper .project__modal--img{
        display: block;
    }
}

@media(max-width: 620px){

    .modal__window--project {
        border: 2px solid #ffffff;
    }

    .project__modal--swiper--svipe {
        left: 10px;
        bottom: 75px;
        z-index: 2;
    }
    
    .project__modal--swiper--svipe-right {
        right: 10px;
        bottom: 75px;
        z-index: 2;
    }

    .project__modal--titel{
        padding: 0 40px;
        font-family: 'Roboto';
    }

    .project__modal--swiper--wrapper{
        min-height: 200px;
    }

    .project__modal--discr{
        min-width: auto;
        padding-left: 10px;
    }

    .modal__window--project{
        padding-right: 30px;
        padding-left: 30px;
    }

    .project__modal--list--item{
        margin-bottom: 5px;
    }

    .project__modal--svipe, .project__modal--svipe--right{
        visibility: hidden;
    }

    .project__modal--svipe-min, .project__modal--svipe--right-min{
        visibility: visible;
    }

    .project__modal--svipe-min{
        left: 10px;
        top: 410px;
    }

    .project__modal--svipe--right-min{
        right: 10px;
        top: 410px;
    }
}