
@import "fonts.css";
@import "reset.css";
@import "modal.css";
@import "project--modal.css";
@import "swiper-bundle.min.css";

/* ========================================================= */

html{
    scroll-margin-top: 100px;
    scroll-behavior: smooth;
}

.wrapper{
    position: relative;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

:root{
    --transition: all 0.4s;
}

.body--opened-menu {
    overflow: hidden;
}

.body{
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    line-height: 16px;
    color: #ffdf9e;
    background: #ffffff;

    max-width: 1410px;
    margin: 0 auto;
    height: 100%;
}

.body__decor{
    position: absolute;
    top: 800px;
    left: -30px;
    z-index: 5;
}

.body__decor2{
    position: absolute;
    visibility: hidden;
}

.container{
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0 30px;
}

.container__reviews{
    padding: 0 90px;
}

.header {
    background: url("../img/decor/Title-icon.jpg") 50% 100% / cover no-repeat;
    max-height: 760px;
    position: relative;
}

.header__top {
    height: 48px;
    background: #25491f4f;
}
.header__top--inner{
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.nav {
    max-width: 700px;
    width: 100%;
}

.nav__list {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.burger-icon{
    position: relative;
    display: none;
    height: 50px;
    width: 50px;
    padding: 0px 10px;
    z-index: 11;
}

.burger-icon span, .burger-icon span::after, .burger-icon span::before{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 100px;
    transition: var(--transition);
}

.burger-icon span{
    position: relative;
}

.burger-icon span::after{
    content: '';
    bottom: 10px;
    position: absolute;
}

.burger-icon span::before{
    content: '';
    top: 10px;
    position: absolute;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(-45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(45deg);
}

.contact {
    display: flex;
    align-items: center;
    width: 190px;
    margin-left: 15px;
}

.contact__list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact__item--tel,
.contact__item--loc{
    display: flex;
    align-items: center;
    justify-content: start;
}

.contact__item--tel img{
    margin-right: 8px;
}

.contact__item--loc img{
    margin-right: 6.8px;
}

/* ========================================================= */

.header__main--inner {
    display: flex;
    justify-content: space-between;
}

.header__content {
    margin-top: 61px;
    padding-bottom: 170px;
}
.header__logo {
    margin-left: 45px;
}
.header__title {
    max-width: 440px;
    font-family: 'Merriweather';
    font-size: 36px;
    line-height: 45px;
    color: #ffffff;
}

.button--title {
    max-width: 400px;
    width: 100%;
    max-height: 60px;
    height: 100%;
    margin-top: 45px;
    padding: 3px 15px;
    border: 2px solid rgb(255, 126, 53);
    border-radius: 5px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25),inset 9px 9px 10px 0px rgba(0, 0, 0, 0.25);
    background: rgba(255, 126, 53, 0.53);

    color: #ffdf9e;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
}
.socials {

    margin-top: 225px;
    height: 130px;
}

.socials__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 130px;
}

.socials__items{
    max-width: 28px;
    max-height: 28px;
}

.socials__items img{
    width: 100%;
}

.header__foot {
    max-width: 1060px;
    width: 100%;
    height: 122px;
    border-radius: 5px;
    background: #211a15de;
    position: relative;
    bottom: -5px;
}
.header__info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding-right: 40px;
}
.header__info--item {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 95px;
}

.header__foot--grass{
    display: none;
}

.img--doc{
    padding-top: 21px;
}
.img--check{
    padding-top: 27px;
    padding-bottom: 18px;
}

/* ========================================================= */

.main__about {
    padding-top: 60px;
}

.about--inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.about__decor--wrapper{
    width: 100%;
    max-width: 464px;
    padding: 0 62px;
}

.about__decor {
    border-bottom: 1px solid rgb(52, 100, 44);
    display: flex;
    justify-content: center;
}

.about__company {
    position: relative;
    margin-top: 40px;
    padding: 20px 33px;
    border-radius: 5px;
    background: #575249fa;
    line-height: 20px;
    letter-spacing: 10%;
    text-align: justify;
}


.project--svipe--accordion{
    visibility: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 10px;
}

.project--svipe--accordion img{
    transform: rotate(-90deg);
}

.about__title {
    text-transform: uppercase;
    font-family: "Merriweather";
    font-weight: 400;
    padding-bottom: 15px;
}

.about__text{
    padding-bottom: 40px;
}


.projects {
    padding-top: 40px;
}

.accordion--opened .project--svipe--accordion {
    transform: rotate(-180deg);
    
}

.accordion-btn {
    transition: var(--transition);
}

.projects__head {
    display: flex;
    align-items: end;
}
.projects__titel {
    color: #34642c;
    font-family: "Merriweather";
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    width: 200px;
}
.projects__decor {
    width: 100%;
    border-bottom: 1px solid rgb(52, 100, 44);

    display: flex;
    justify-content: end;
}
.projects__main {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 17px;

}
.projects__preview--1 {
    grid-row: 1/3;
    background: url("../img/content/Pravdinskoe.jpg") center/ cover no-repeat;
    max-width: 520px;
    height: 610px;
    width: 100%;
}

.projects__preview--2{
    background: url("../img/content/Repino.jpeg") center/ cover no-repeat;
}

.projects__preview--3{
    background: url("../img/content/petergof.jpg") center/ cover no-repeat;
}

.projects__preview{
    position: relative;
    box-shadow: 5px 5px 20px 5px #00000040;
    cursor: pointer;
}

.project {
    position: relative;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    height: 65px;
    background: #ffefe394;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project__text {
    color: #3d2220;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.project--svipe, .project--svipe--right{
    z-index: 2;
    position: absolute;
    top: 180px;
    cursor: pointer;
    visibility: hidden;
    padding: 20px 30px;
}

.project--svipe{
    left: -20px;
}

.project--svipe--right{
    right: -20px;
    transform: rotate(180deg);
}

/* ========================================================= */

.garden{
    padding: 42px 0 90px;
    margin-top: 80px;

    background: url("../img/decor/gardern.jpg") 50% 100% / cover no-repeat;
}

.garden__top {
    display: flex;
    justify-content: center;
    align-items: end;
}

.garden__titel{
    color: #ffdf9e;
}

.garden__text{
    line-height: 20px;

    padding: 23px 18px;
    margin-top: 47px;
    margin-bottom: 40px;
    
    border-radius: 5px;
    background: #5a554d;
}

.garden__text :last-child{
    display: none;
}

.garden__top .projects__decor{
    border-color: #ffdf9e;
}

.garden__top .projects__decor :last-child{
    display: none;
}

/* ======== */

.seasons{
    border: 1px solid #00000040;
    border-radius: 5px;
    background: #ffffff;

    padding: 42px 20px;
    color: #000000;
    font-weight: 400;
}

.seasons__inner{
    display: flex;
    gap: 23px;
}

.tab-conrols{
    max-width: 320px;
    width: 100%;
}

.tab-conrols :last-child{
    margin-bottom: 0;
}

.tab-conrols__item{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;

    box-shadow: 0px 0px 5px 0px #00000040;
    border: 1px solid #00000040;
    border-radius: 5px;

    padding: 20px 0;
    margin-bottom: 18px;

    cursor: pointer;
}

.tab-conrols__active{
    transition: var(--transition);
    box-shadow: 0 0 0 2px #ff7e35;
    background: #ffefe3d4;
    color: #ff7e35;
}



.accordion-content__item{
    display: flex;
    padding-bottom: 10px;
}

.accordion-content__item div{ 
    min-width: 4px;
    max-height: 4px;
    border-radius: 50%;
    background-color: #ff7e35;
    margin-right: 10px;
}

.seasons__content{
    width: 100%;
}

.seasons__tab--content{
    max-width: 645px;
    position: absolute;

    visibility: hidden;
    opacity: 0;
    padding-top: 33px;
    font-weight: 400;
    transition: var(--transition);
}

.tab-content--show{
    visibility: visible;
    opacity: 1;
}

.tab-content--low-width{
    display: none;
    position: relative;
    padding-top: 0px;

    max-height: 0px;
    height: 100%;
    overflow: hidden;
}

.seasons__info :first-child{
    padding-top: 42px;
    padding-bottom: 10px;
}

/* ========================================================= */

.main__landscape{
    padding-top: 50px;
}

.landscape__text{
    margin-top: 40px;
}

.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery .accordion__content{
    display: none;
}

.gallery__text{
    color: #000000;
    font-weight: 400;
    padding-bottom: 10px;
}

.gallery__item{
    max-width: 339px;
    
}

.gallery__img img{
    width: 100%;
}
/* ========================================================= */

.reviews{
    padding: 65px 0 80px;
    font-weight: 400;
}

.reviews--svipe{
    left: -40px;
}
.reviews--svipe--right{
    right: -40px;
}

.reviews__head{
    margin: auto;
    max-width: 340px;
    flex-direction: column;
    align-items: center;
}

.reviews__titel{
    display: flex;
    justify-content: center;
    order: 2;
    padding-top: 10px;
}

.reviews__decor{
    justify-content: center;
}

.reviews__cases{
    padding-top: 60px;
}

.reviews__cases--wrapper{
    position: relative;
}

.reviews__wrapper{
    display: flex;
    gap: 25px;
}

.reviews__wrapper .swiper-slide{
    flex-shrink: 1;
}

.case{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.case__img{
    width: 77px;
    height: 77px;
    border-radius: 50%;
    background-color: #5a554d;
}

.case__name{
    color: #000000;
}

.case__text{
    color: #34642c;
}

/* ========================================================= */


.footer{
    background: #5a554d;
    color: #ffffff;
    font-weight: 400;

    padding-top: 60px;
}

.footer__contact{
    margin: 0;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 52px;
    width: auto;
}


.footer__top{
    width: 100%;
    padding-right: 195px;
    display: flex;
    justify-content: space-between;
}


.footer__titel{
    font-size: 18px;
    font-family: 'Merriweather';
}

.socials--footer{
    height: auto;
    margin: 0;
}

.socials__list--footer{
    flex-direction: row;
    width: 130px;
    height: auto;
    align-items: end;
}

.footer__contact--list{
    width: 100%;
    padding-right: 160px;
    display: flex;
    justify-content: space-between;
}

.footer__contact--list .contact__item--tel,
.footer__contact--list .contact__item--email{
    position: relative;
}

.contact__item--text{
    position: absolute;
    top: -20px;
}

.footer__grass{
    margin-top: 60px;
    
    width: 100%;
    height: 150px;
    background: url("../img/decor/Footer-gras.png") 50% 50% / cover no-repeat;
}

.footer__botom{
    background-color: #ffffff;
    width: 1410px;
    height: 40px;
}

/* ========================================================= */
@media (max-width: 1400px){
    .body__decor{
        visibility: hidden;
    }
}


@media (max-width: 1100px){
    .seasons__tab--content{
        max-width: 540px;
    }
/* ========================================================= */
    .reviews--svipe--right, .reviews--svipe{
        visibility: visible;
    }
    .reviews__wrapper .swiper-slide{
        flex-shrink: 0;
    }

    .reviews__wrapper{
        gap: 0px;
    }


    .case{
        padding: 6px;

        position: relative;
        background: #efefef9c;

        height: 100%;
        gap: 0px;

        
    }



    .case__name{
        padding: 25px 0 5px;
        font-size: 20px;
    }

    .case__text{
        height: 160px;
        
        overflow: hidden;
        text-align: center;
        
        display: flex;
        align-items: center;
        
    }

    /* ========================================================= */

    .footer__grass{
        background: url("../img/decor/Footer-gras.png") 50% 100% / contain no-repeat;
    }

}

@media (max-width: 970px){
    .nav{
        display: flex;
        max-width: none;
        position: fixed;
        inset: 0;
        z-index: 10;
        backdrop-filter: blur(10px);
        background: rgba(36, 69, 30, 0.48);
        justify-content: center;
        font-size: 24px;
        padding: 26vh 15px;
        transform: translateY(-100%);
        transition: var(--transition);
        opacity: 0;
    }
    .nav__list{
        flex-direction: column;
        align-items: center;
    }
    .nav__link{
        margin: 0;
    }

    .burger-icon{
        display: flex;
        align-items: center;
    }
    .body--opened-menu .nav{
        transform: translateY(0);
        opacity: 1;
    }

    /* ========================================================= */

    .projects__head{
        flex-direction: column;
        padding: 0 62px;
        align-items: center;
    }
    .projects__decor{
        justify-content: center;
    }
    .projects__titel{
        display: flex;
        justify-content: center;
        order: 2;
        padding-top: 10px;
    }

    /* ========================================================= */


    .garden__top{
        flex-direction: column;
        align-items: center;
        padding: 0 62px;
    }

    .seasons__wrapper{
        display: flex;
        justify-content: center;
    }

    .seasons{
        display: inline-block;
    }

    .seasons__inner{
        display: block;
    }

    .seasons__content{
        display: none;
    }

    .seasons__info{
        display: none;
    }

    .tab-content--low-width{
        display: block;
    }
}

@media (max-width: 870px){
    .projects__preview--1{
        max-width: 1000px;
        max-height: 333px;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    
    /* ========================================================= */
    .footer__contact--list{
        flex-direction: column;
        gap: 5px;
        padding-right: 0;
    }

    .contact__item--text{
        display: none;
    }

    .contact__item--email{
        display: none;
    }

    .footer__top{
        position: relative;
    }

    .socials__list--footer{
        position: absolute;
        right: 0px;
        top: 65px;
    }

    .footer__grass{
        margin: 0;
    }
}

@media (max-width: 740px){
    .modal{
        padding: 10px;
    }
    .modal__window{
        display: block;
        max-width: 305px;
        width: 100%;
        border: 3px solid #ffffff;
        border-radius: 0px;
    }
    .modal__consult--img{
        display: none;
    }
    .modal__consult--inner{
        padding: 36px 28px 26px;
    }
    .modal__form-label{
        padding: 10px;
        border-radius: 5px;
    }
    .modal__consult--check{
        font-size: 10px;
    }
    .modal__consult--text{
        font-size: 11px;
        font-weight: 300px;
        text-transform: uppercase;
    }
    .modal__consult--form button{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background: rgb(255, 126, 53);
        color: #ffdf9e;
        font-weight: 300px;
        text-transform: uppercase;
        padding: 10px;
        margin-bottom: 25px;
    }

    .header__foot--grass{
        background: url("../img/decor/Titel-grass.png") 50% 100% / cover no-repeat;
        width: 740px;
        height: 152px;
    }

    /* ========================================================= */

    .garden__text :first-child{
        display: none;
    }

    .garden__text :last-child{
        display: inline-block;
        text-align: center;
    }

    /* ========================================================= */
    .gallery{
        display: block;
        position: relative;
        padding-bottom: 25px;
    }
    .gallery .accordion-btn{
        visibility: visible;
    }
    .gallery .accordion__content{
        display: block;
        max-height: 0px;
        overflow: hidden;
        transition: var(--transition);
    }
    .gallery__text{
        display: inline;
        font-size: 12px;
    }
    .gallery__item{
        max-width: 265px;
        margin: auto;
        margin-bottom: 20px;
    }
    .gallery__img{
        display: inline;
    }
    .gallery__item5, .gallery__item6, .gallery__item7, .gallery__item8,
.gallery__item9, .gallery__item10{
    display: none;
}

    .case__text{
        align-items: normal;
    }
}


@media (max-width: 640px){

    .header__main--inner{
        flex-direction: column;
        align-items: center;
    }
    .header__logo{
        margin: 0;
    }
    .header__title{
        text-align: center;
        text-transform: uppercase;
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
    }
    .button--title{
        font-size: 14px;
        max-width: 250px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .header__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
        padding-bottom: 0px;
    }

    .header__top{
        background: #24451e7a;
    }

    .head__contact{
        width: auto;
    }

    .contact__list{
        flex-direction: column-reverse;
        font-size: 12px;
    }


    .socials--header{
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .socials__list{
        flex-direction: row;
        width: 120px;
        align-items: end;
    }
    .header__foot--grass{
        display: block;
        position: relative;
        bottom: -15px;
        right: 0px;
        left: 0px;
        background: url("../img/decor/Titel-grass.png") 50% 100% / cover no-repeat;
        width: 100%;
        height: 152px;

    }
    .header__foot{
        display: none;
    }

    /* ========================================================= */

    .projects__preview--2, .projects__preview--3{
        height: 250px;
    }

}

@media (max-width: 550px){
    .body__decor{
        visibility: visible;
        top: auto;
        bottom: 1900px;
        z-index: -1;
    }



    .about__text{
        font-size: 12px;
    }

    /* ========================================================= */

    .garden{
        background: none;
    }

    .garden__titel{
        color: #34642c;
    }

    .garden__top .projects__decor{
        border-color: #34642c;
    }

    .garden__top .projects__decor :last-child{
        display: block;
    }
    .garden__top .projects__decor :first-child{
        display: none;
    }
    

    .garden__text{
        font-size: 12px;
    }

    .seasons{
        padding: 25px;
        padding-bottom: 10px;
    }

    .seasons a{
        font-size: 12px;
        font-weight: 300;
    }

    .tab-conrols__item{
        padding: 10px;
    }

    .tab-content--low-width{
        font-size: 12px;
        
    }

    /* ========================================================= */

    .reviews__head{
        padding: 0 30px;
    }

    .case__text{

        color: #000000;
        font-size: 14px;
        font-weight: 300;
    }
}

@media (max-width: 450px){
    .body__decor{
        bottom: 1600px;
        left: -50px;
    }

    .body__decor2{
        visibility: visible;
        bottom: 200px;
        right: 0px;
        z-index: -1;
    }



    .projects__main {
        display: flex;
        gap: 0;
    }

    .about__text--accordion{
        max-height: 0px;
        overflow: hidden;
        transition: var(--transition);
    }

    .project--svipe--accordion{
        visibility: visible;
        transition: var(--transition);
    }



    /* ========================================================= */

    .project--svipe, .project--svipe--right{
        visibility: visible;
    }

    .projects__preview{
        box-shadow: none;
    }

    .projects__preview--1 .project{
        height: 32px;
    }

    .projects__preview--2, .projects__preview--3{
        height: 333px;
    }

    .projects__preview--2 .project, .projects__preview--3 .project{
        height: 32px;
    }

    .project__text{
        font-size: 12px;
    }

    /* ========================================================= */

    .container__reviews{
        padding: 0 40px;
    }

    .reviews--svipe{
        left: -25px;
    }
    .reviews--svipe--right{
        right: -25px;
    }

    /* ========================================================= */

    .footer{
        padding-top: 15px;
    }

    .footer__contact{
        gap: 12px;
    }

    .socials__list--footer{
        width: 90px;
    }

    .socials__list--footer img{
        width: 20px;
        height: 20px;
    }

    .footer{
        font-size: 12px;
    }

    .footer__titel{
        font-size: 12px;
        font-family: 'Roboto';
        text-transform: lowercase;
    }
    
    .socials__list--footer{
        position: absolute;
        top: 30px;
    }

    .footer__grass{
        height: 70px;
    }


    /* ========================================================= */

    .main__about{
        padding-top: 20px;
    }
    
    .main__projects{
        padding-top: 40px;
    }

    .main__garden{
        margin: 0px;
        padding-bottom: 0px;
    }

    .main__landscape{
        padding-top: 20px;
    }

    .header__foot--grass{
        height: 70px;
    }

    .main__reviews{
        padding: 30px 0 40px;
    }
}