.div-1 {
    background-color: #14c5c5;
}
.span-colored{
    color: #aa2b40;
}
.box {
    background-color: #d14141;
    width: 100px;
    height: 100px;
}
.div-2{
    background-color: #eeee4e;
    width: 300px;
}
.element{
    background-color: #21c721;
}
