:root {
    --general-text: #312C27;
    --accent-text: #1F1711;
    --general-bg: #FFF9F4;
    --accent-bg: #FFE0CB;
    --accent-color: #FFA55C;
    --transition: all 0.4s;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);
    
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 62px;
    padding: 3px 15px;
    border-radius: 60px;
    background: var(--accent-color);
    font-weight: 500;
    line-height: 1.6;
    width: 100%;
    font-family: "Montserrat";
    font-size: 16px;
    transition: var(--transition);
}

.button:hover{
    background: #FF9138;
}

.body--fixed{
    overflow: hidden;
}

/* ========================================================= */

.header{
    background: url("../img/decor/bg-header.png")  50% 100% / cover no-repeat;
}

.header__top{
    padding-top: 19px;
}

.header__top--inner{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.header__top--inner img{
    max-width: 174px;
    z-index: 12;
}

.nav__list{
    display: flex;
    align-items: end;
    padding-bottom: 7px;
    gap: 6vh 0px;
}

.nav__link{
    padding: 7px 0px;
    position: relative;
    margin-left: 40px;
    z-index: 1;
}

.nav__link::before{
    content: '';
    display: block;
    position: absolute;
    left: -14px;
    top: -14px;
    z-index: -1;
    height: 34px;
    width: 34px;
    background-color: var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    transition: var(--transition);
}

.nav__link:hover::before {
    opacity: 1;
}

.burger-icon{
    position: relative;
    display: none;
    height: 50px;
    width: 50px;
    padding: 0px 10px;
    z-index: 11;
    
}

.burger-icon span, .burger-icon span::after, .burger-icon span::before{
    display: block;
    width: 30px;
    height: 4px;
    background-color: var(--accent-text);
    border-radius: 100px;
    transition: var(--transition);
}

.burger-icon span{
    position: relative;
}

.burger-icon span::after{
    content: '';
    bottom: 10px;
    position: absolute;
}

.burger-icon span::before{
    content: '';
    top: 10px;
    position: absolute;
}

.body--open-menu .burger-icon span {
    background: transparent;
}

.body--open-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(-45deg);
}

.body--open-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(45deg);
}

/* ========================================================= */

.hero__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    margin-bottom: 140px;
    gap: 30px;
}

.hero__content{
    margin-top: 82px;
}

.hero__info{
    color: #B197B2;
    text-transform: uppercase;
    display: flex;
    margin-bottom: 20px;
}

.hero__info span{
    display: flex;
    align-items: center;
}

.hero__info span::after{
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #B197B2;
    margin: 0px 10px;
}

.hero__info span:last-child::after{
    display: none;
}

.hero__title{
    color: var(--accent-text);
    font-family: "Gabriola";
    font-size: 74px;
    line-height: 0.82;
    max-width: 520px;
    margin-bottom: 30px;
}

.hero__text{
    max-width: 360px;
    margin-bottom: 40px;
}

.hero__button{
    max-width: 358px;
}

.hero__img{
    max-height: 454px;
    position: relative;
    margin-right: 247px;
}

.play{
    display: flex;
    flex-wrap: nowrap;
    max-width: 190px;
    position: absolute;
    right: -151px;
    bottom: 4.5vh;
}

.play--mobile{
    display: none;
}

.play__img{
    margin-right: 10px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    background-color: #FFE0CB;
    border-radius: 50%;
}

.play__img::before{
    content: '';
    position: absolute;
    width: 68px;
    height: 68px;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    transition: var(--transition);
}

.play__img:hover::before{
    opacity: 1;
}

.play__img img{
    padding-left: 8.8%;
}



/* ========================================================= */

.footer{
    background-color: #AB8261;
    color: var(--general-bg);
    line-height: 1.5;
    padding: 30px 0 60px 0;
}
.footer__inner{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 1fr);
}

.footer__logo-socials{
    max-width: 275px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.socials{
    margin-top: 20px;
    width: 140px;
    display: flex;
    justify-content: space-between;
}
.socials path{
    transition: var(--transition);
}
.socials :hover path{
    fill: #FFA55C;
}
.footer__nav{
    margin-top: 22px;
    max-height: 112px;
    height: 100%;
}
.footer__nav--list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.footer__nav--link{
    margin: 0;
    padding: 0;
}
.footer__info{
    margin-top: 22px;
}
.footer__info li{
    margin-bottom: 10px;
}
.footer__info--working-hours::before{
    content:'';
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: url("../img/icons/clock.svg");
}
.footer__info--working-hours{
    display: flex;
}
.footer__info--addres::before{
    content:'';
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: url("../img/icons/location.svg");
}
.footer__info--addres{
    display: flex;
}
.footer__advice{
    height: 100%;
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}
.footer__phone{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.6;
}
.footer__copy-mark{
    color: #dec5b1;
    display: flex;
}
.footer__copy-mark::before{
    content: '';
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url("/img/icons/copy.svg");
}

/* ========================================================= */

@media (max-width: 1220px){
    .play{
        position: static;
        margin-top: 10px;
        max-width: none;
        align-items: center;
    }
    .hero__img{
        margin-right: 0;
    }
    .hero__img>img{
        width: 100%;
    }
    /* ============ */
    .footer__inner{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .footer__logo-socials--wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__advice{
        align-items: center;
    }
}
@media (max-width: 900px) {
    .nav{
        display: flex;
        position: fixed;
        inset: 0;
        z-index: 10;
        background-color: var(--general-bg);
        justify-content: center;
        font-size: 24px;
        padding: 26vh 15px;
        transform: translateY(-100%);
        transition: all 0.4s;
        opacity: 0;
    }
    .nav__list{
        flex-direction: column;
        align-items: center;
    }
    .nav__link{
        margin: 0;
    }
    .burger-icon{
        display: flex;
        align-items: center;
    }
    .body--open-menu .nav{
        transform: translateY(0);
        opacity: 1;
    }
}
@media (max-width: 700px){
    .hero__inner{
        display: block;
    }
    .hero__img{
        display: none;
    }
    .play--mobile{
        display: flex;
        justify-content: center;
        margin-bottom: 40px
    }
    .hero__info{
        justify-content: center;
    }
    .hero__title{
        text-align: center;
        margin-inline: auto;
    }
    .hero__text{
        margin-inline: auto;
        text-align: center;
    }
    .hero__button{
        display: block;
        margin: 0 auto;
    }
    /* ============ */
    .footer__inner{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .footer__nav--list{
        align-items: center;
    }
    .footer__info--inner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__logo-socials{
        align-items: center;
    }
    .footer__logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__advice{
        padding: 0;
    }
}
@media (max-width: 500px){
    .hero__title{
        font-size: 48px;
    }
}