html{
    scroll-margin-top: 100px;
    scroll-behavior: smooth;
}


:root {
    --general-text: #312C27;
    --accent-text: #1F1711;
    --general-bg: #FFF9F4;
    --accent-bg: #FFE0CB;
    --accent-color: #FFA55C;
    --transition: all 0.4s;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.title{
    font-size: 72px;
}

.main__program,
.main__gallery,
.main__reviews {
    padding-bottom: 145px;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 62px;
    padding: 3px 15px;
    border-radius: 60px;
    background: var(--accent-color);
    font-weight: 500;
    line-height: 1.6;
    width: 100%;
    font-family: "Montserrat";
    font-size: 16px;
    transition: var(--transition);
}

.button:hover{
    background: #FF9138;
}

.body--fixed{
    overflow: hidden;
}